body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

img {
    display: block;
    margin: 80px auto;
    width: 225px;
    height: 337.5px;
}

button {
    background-color: rgb(114, 114, 114);
    color: #FFFFFF;
    border: none;
    padding: 10px 35px;
    display: block;
    font-size: 35px;
    margin: 50px auto;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.3s;
}

#quoteBox {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    margin: 50px auto;
    width: auto;
    max-width: 600px;
    max-height: 100px;
    min-height: 20px;
    height: auto;
    text-align: center;
    font-size: x-large;
}

button:hover {
    background-color: rgb(94, 94, 94);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

button:active {
    transition-duration: 0.5ms;
    transform: scale(1);
}

h1 {
    color: #FFFFFF;
    height: 50px;
    margin: 0;
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    display: block;
    animation: RGB 1.5s infinite;
    visibility: hidden;
}

@keyframes RGB {
    0% {
        color: rgb(255, 0, 0);
        transform: scale(1);
    }

    5% {
        color: rgb(255, 41, 0);
        transform: scale(1.02);
    }

    10% {
        color: rgb(255, 83, 0);
        transform: scale(1.05);
    }

    15% {
        color: rgb(255, 124, 0);
        transform: scale(1.07);
    }

    20% {
        color: rgb(255, 166, 0);
        transform: scale(1.1);
    }

    25% {
        color: rgb(255, 188, 0);
        transform: scale(1.12);
    }

    30% {
        color: rgb(255, 210, 0);
        transform: scale(1.15);
    }

    35% {
        color: rgb(255, 232, 0);
        transform: scale(1.17);
    }

    40% {
        color: rgb(255, 255, 0);
        transform: scale(1.2);
    }

    45% {
        color: rgb(213, 234, 0);
        transform: scale(1.17);
    }

    50% {
        color: rgb(170, 213, 0);
        transform: scale(1.15);
    }

    55% {
        color: rgb(128, 192, 0);
        transform: scale(1.12);
    }

    60% {
        color: rgb(85, 170, 0);
        transform: scale(1.1);
    }

    65% {
        color: rgb(43, 149, 0);
        transform: scale(1.07);
    }

    70% {
        color: rgb(0, 128, 0);
        transform: scale(1.05);
    }

    75% {
        color: rgb(0, 106, 128);
        transform: scale(1.02);
    }

    80% {
        color: rgb(0, 85, 255);
        transform: scale(1);
    }

    85% {
        color: rgb(37, 64, 192);
        transform: scale(0.98);
    }

    90% {
        color: rgb(75, 43, 130);
        transform: scale(0.95);
    }

    95% {
        color: rgb(156, 21, 184);
        transform: scale(0.98);
    }

    100% {
        color: rgb(238, 0, 238);
        transform: scale(1);
    }
}


@media (max-width: 768px) {
    body {
        background-size: cover;
    }

    img {
        width: 150px;
        height: 225px;
        margin: 50px auto;
    }

    button {
        font-size: 25px;
        padding: 8px 25px;
        position: relative;
        top: 40px;
        margin: 30px auto;
    }

    #quoteBox {
        font-size: large;
        padding: 15px;
        margin: 30px auto;
    }

    h1 {
        font-size: 24px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    img {
        width: 200px;
        height: 300px;
        margin: 30px auto;
    }

    button {
        font-size: 20px;
        padding: 5px 20px;
        margin: 20px auto;
        max-width: 350px;
        position: relative;
        top: 140px;
    }

    #quoteBox {
        font-size: medium;
        padding: 10px;
        max-width: 400px;
        margin: 20px auto;
        position: relative;
        top: 70px;
        max-width: 450px;
    }

    h1 {
        font-size: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 375px) {
    img {
        width: 150px;
        height: 225px;
        margin: 30px auto;
    }

    button {
        font-size: 20px;
        padding: 5px 20px;
        margin: 20px auto;
        max-width: 300px;
        position: relative;
        top: 100px;
    }

    #quoteBox {
        font-size: medium;
        padding: 10px;
        max-width: 300px;
        margin: 20px auto;
        position: relative;
        top: 50px;
    }

    h1 {
        font-size: 20px;
        margin-top: 30px;
    }
}